<?xml version='1.0' encoding='utf-8'?>
<widget id="org.khowling.orderman" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>OrderManager</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true"/>
    <feature name="Console"> <param name="ios-package" value="CDVLogger" /> </feature>
    <platform name="ios">
              <!-- iOS 7.0+ -->
              <!-- iPhone / iPod Touch  -->
              <icon src="res/ios/icon-60.png" width="60" height="60" />
              <icon src="res/ios/icon-60@2x.png" width="120" height="120" />
              <!-- iPad -->
              <icon src="res/ios/icon-76.png" width="76" height="76" />
              <icon src="res/ios/icon-76@2x.png" width="152" height="152" />

              <!-- iPhone 6 Plus  -->
              <icon src="res/ios/icon-60@3x.png" width="180" height="180" />
              <icon src="res/ios/icon-40@3x.png" width="120" height="120" />
              <icon src="res/ios/icon-small@3x.png" width="87" height="87" />


              <!-- images are determined by width and height. The following are supported -->
              <!- 6 -->
              <splash src="res/ios/default-portrait-667h@2x.png" width="750" height="1334"/>
              <!- 6p -->
              <splash src="res/ios/default-portrait-736h@3x.png" width="1242" height="2208"/>

     </platform>
</widget>
