<!DOCTYPE html>

<html lang="en" ng-app="myApp" class="no-js">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Offer Manager</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
<!--
    <link rel="stylesheet" href="{!URLFOR($Resource.bower_components, 'bower_components/foundation/css/normalize.css')}"/>
    <link rel="stylesheet" href="{!URLFOR($Resource.bower_components, 'bower_components/foundation/css/foundation.css')}"/>
    <link rel="stylesheet" href="{!URLFOR($Resource.bower_components, 'bower_components/foundation-icon-fonts/foundation-icons.css')}"/>
		<link rel="stylesheet" href="{!URLFOR($Resource.digitalcpq_resources, 'digitalcpq_resources/css/style.css')}"/>
-->

    <link rel="stylesheet" href="bower_components/foundation/css/normalize.css"/>
    <link rel="stylesheet" href="bower_components/foundation/css/foundation.css"/>
    <link rel="stylesheet" href="bower_components/foundation-icon-fonts/foundation-icons.css" />
    <link rel="stylesheet" href="digitalcpq_resources/css/style.css"/>

<!--
    <script src="{!URLFOR($Resource.bower_components, 'bower_components/foundation/js/vendor/modernizr.js')}"/>
-->
    <script src="bower_components/foundation/js/vendor/modernizr.js"></script>
    <script	src="cordova.js" type="text/javascript"></script>
	 	<script	src="cordova.force.js" type="text/javascript"></script>

		<script>
			var inVisualforce = false;
	    var static_resource_url = './digitalcpq_resources';
	    var debug_session = '00Db0000000diWP!ARIAQPoBXeBLHXUJWsTDkqFY.Ts.T57A3cvoeI5QDkhw4yFCrtOEoFz65ELiXxG1RMlk68HYWVbsuZgea4cUQNqR79wgyrSH ';
			var _sfdccreds = {
	            sf_userid: '{!$User.Id}',
	            sf_host_url: 'https://eu2.salesforce.com',
	            sfdc_api_version: '/services/data/v30.0',
	            session_api: '{!$Api.Session_ID}',
	            clientId: '3MVG99qusVZJwhskfsiYZz9vAn3iWjp4V79_irNpsQl9yNiuTCogBf9YkZH_OK9JmP_hdODiXWhX6RqC.RaH4',
	            refresh_api: ''
	        	};
			if (_sfdccreds.session_api.indexOf("Api.Session_ID") > -1) {
				console.log ('we are not in a vf page, set debug params');
				_sfdccreds.session_api = debug_session;
			} else {
				static_resource_url = "{!URLFOR($Resource.digitalcpq_resources, 'digitalcpq_resources')}";
				_sfdccreds.sf_host_url = '';
				inVisualforce = true;
			}
		</script>
</head>
<body ng-controller="homeCtrl">

<!--
<div class="off-canvas-wrap" data-offcanvas="1">

    <div class="fixed off-canvas-fixed">


        <div class=" fixed show-for-medium-down">
            <nav class="tab-bar " style="background: white; border-bottom: 1px solid #dbdbdb;">

                <section class="left-small" style="border-right: 0px;">
                    <a class="left-off-canvas-toggle" ><i class="fi-list" style="font-size: 25px; margin: 10px;"></i></a>
                </section>

                <section class="middle tab-bar-section" style="right: 15rem;">

										<div style="white-space: nowrap; height: 45px;">
										<div style="display: inline-block!important; vertical-align: top;" >
										   <a href="#" class="hide-for-small" style="margin-right: 20px;">
										            <img src="http://www.mindatrest.co.uk/images/cirrusglobe.png" style="height: 30px;"/>
										    	<strong>Digital</strong></a>

										</div>

											<div style="display: inline-block!important; margin-top: 5px;" class="switch1 round">
											  <input id="exampleCheckboxSwitch" type="checkbox" ng-model="online">
											  <label for="exampleCheckboxSwitch"></label>
											</div>

											<h5 class="subheading" style="display: inline-block;  vertical-align: top; color: black;" ng-bind="mode"></h5>

											<a style="display: inline-block;  margin-top: 5px; margin-bottom: 0px; vertical-align: top;" class="button tiny round" ng-class="{'success': syncinfo.tosync > 0 && syncinfo.errcount == 0, 'alert': syncinfo.errcount >0 }" ng-href="#/customer?sync"> <strong>Sync <span ng-show="syncinfo.tosync > 0" >[{{syncinfo.tosync}}]</span></strong></strong></a>

										</div>
                </section>


                <section class="right tab-bar-section" style="left: auto; border-left: 0px;">
                    <a ng-href="#basket" class=" button radius" style="padding: 5px 20px;">
                        {{selectedCustomer.FirstName}} {{selectedCustomer.LastName}}<i class="fi-shopping-cart" style="font-size: 18px;margin-left: 5px; margin-right: 5px;"></i><i class="fi-pound" style="font-size: 10px; margin: 2px;"></i><span ng-bind="selectedBasket.total"/> (<span ng-bind="selectedBasket.items">)</span>
                    </a>
                </section>

            </nav>
        </div>


        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list" >
                <li><label>Digital Quote</label></li>
                <li><a class="left-off-canvas-toggle" ng-href="#/">Home</a></li>
                <li><a class="left-off-canvas-toggle" ng-href="#/customer">Select Customer</a></li>
                <li><a class="left-off-canvas-toggle" ng-href="#/search">Product Search</a></li>
                <li><a class="left-off-canvas-toggle" ng-href="#/basket">Show Basket</a></li>
                <li><a class="left-off-canvas-toggle" ng-href="#/packages">Top Offers</a></li>
                <li><hr/><a class="left-off-canvas-toggle" ng-href="#/customer?sync">Sync</a></li>

            </ul>
        </aside>
    </div>

    <div class="inner-wrap">

    -->

        <!-- top nav for medium large only
        <nav class="tab-bar hide-for-medium-down" data-topbar="" style="background: white; border-bottom: 1px solid #dbdbdb;">


            <section class="middle tab-bar-section">
                <h6><a href="#">
                    <img src="http://www.mindatrest.co.uk/images/cirrusglobe.png" style="height: 30px;"/>
                    <a href="#">Digital</a>
                </h6>
            </section>

            <section class="right tab-bar-section" style="left: auto;">
							<div class="row collapse">
								<div class="large-6 small-6 columns">
									<h5 class="subheading" style="color: black;" ng-bind="mode"/>
								</div>
								<div class="large-6 small-6 columns">
									<div class="switch1" style="margin-top: 5px;">
									  <input id="exampleCheckboxSwitch" type="checkbox" ng-model="online">
									  <label for="exampleCheckboxSwitch"></label>
									</div>
								</div>
							</div>
            </section>

        </nav>
				-->
		<div class="fixed">
				<nav class="tab-bar" style="background: white; " data-topbar="1"> <!--  border-bottom: 1px solid #dbdbdb; -->

                <section class="left-small" style="border-right: 0px;">
                  <!--
                    <a class="show-for-small" ng-href="#/">
                    	<img ng-src="{{static_resource_url}}/img/sse-images/vodafone.jpg" style="margin-left: 5px;"/>
                   	</a>
                   -->
                    <div style="height:100%; width:100%; background: white;" > <!-- class="hide-for-small" -->
											   <a class="" ng-href="#/">
											   	<i class="fi-list ham" style="font-size: 25px; margin: 10px;"></i>
											   </a>
										</div>
                </section>

                <section class="middle tab-bar-section" style="padding-left: 0px; right: 15rem;">

										<div style="white-space: nowrap; height: 45px;">

											<div style="display: inline-block!important; vertical-align: top;" >
											   <a href="#/" class="hide-for-small"> <!-- style="margin-right: 20px;" -->
											    	<img class="logoHead" style="background: white; height: 80%; margin-top: 5px;" ng-src="{{static_resource_url}}/img/talktalklogo.png"/>
											   </a>
											</div>

												<div style="display: inline-block!important; vertical-align: top; line-height: 1.8;">
													<h4 class="hide-for-small" style="font-size: 22px;" ng-bind="mode"></h4>
												</div>

												<div style="display: inline-block!important; margin-top: 5px;" class="switch1 round">
												  <input id="exampleCheckboxSwitch" type="checkbox" ng-model="homeonline"  ng-hide="inVisualforce"/>
												  <label for="exampleCheckboxSwitch"  ng-hide="inVisualforce"></label>
												</div>

												<div style="display: inline-block; vertical-align: top; margin-left: 10px;" ng-hide="inVisualforce">
													<a  style="font-weight: bold; margin-top: 5px; margin-bottom: 0px; vertical-align: top; padding-bottom: 0.55rem;" class=" button tiny radius" ng-class="{'disabled': !homeonline, 'success': homeonline && syncinfo.tosync > 0 && syncinfo.errcount == 0, 'alert': homeonline && syncinfo.errcount >0 }" ng-href="#/customer?sync">
														Sync<span ng-show="syncinfo.tosync > 0" ng-bind="'['+syncinfo.tosync+']'"/>
													</a>
												</div>
										</div>
                </section>

                <section class="right tab-bar-section show-for-medium-down cartWrap" style="left: auto; border-left: 0px;">
                    <a ng-href="#basket" class=" button radius headBtn" style="padding: 5px 20px; margin-bottom: 0px; color: black;">
                        <span ng-bind="selectedCustomer.FirstName + ' ' + selectedCustomer.LastName"></span>
                        <i class="fi-shopping-cart" style="font-size: 18px;margin-left: 5px; margin-right: 5px;"></i>
                        <i class="fi-pound" style="font-size: 10px; margin: 2px;"></i>
                        <span class="" ng-bind="selectedBasket.total"/> (<span ng-bind="selectedBasket.items">)</span>
                    </a>
                </section>

            </nav>

				</div>

        <div style="height: 55px;"></div>

        <!------------------- The Model when adding things to a cart ------------------------>
        <style> .firstModal:before {
            content: "";
            border: inset 6px;
            border-color: transparent transparent #fff transparent;
            border-bottom-style: solid;
            position: absolute;
            top: -12px;
            left: 90%;
            z-index: 99;
        }</style>

        <div id="itemadded_modal" class="firstModal reveal-modal tiny" data-reveal="1" style="left: 50%;  width: 45%;  top: 50px; min-height: 270px;">
            <p>Your Item has been added to the Shopping Cart</p>
            <hr/>
            <a class="button expand" href="#/search" onclick="jQuery('#itemadded_modal').foundation('reveal', 'close');">continue shopping</a>
            <a class="button expand" href="#/basket" onclick="jQuery('#itemadded_modal').foundation('reveal', 'close');">Checkout</a>
        </div>

        <div id="orderconf_modal" class="firstModal reveal-modal tiny" data-reveal="1" style="left: 50%;  width: 45%;  top: 50px; min-height: 270px;">
            <p>Thank you for your Order, you will receive a confirmation email shortly with delivery details</p>
            <hr/>
            <a class="button expand" href="#/" onclick="jQuery('#orderconf_modal').foundation('reveal', 'close');">Continue</a>
        </div>

				<!------------------------------- Main Page ---------------------------->
        <div class="row ">

            <!-- LEFT THIRD -->
            <div class="hide-for-medium-down large-3  column" >

                <div class="slide-animate" ng-if="sidecart" ng-include="static_resource_url+ '/partials/basket.html'"></div>

                <div class="panel" ng-if="sf">
                    <a href="#"><img ng-src="{{sf.context.user.profilePhotoUrl}}" /></a>
                    <hr/>
                    <h4 ng-bind="sf.context.user.fullName"></h4>
                </div>
                <!--
                <a class="button expand" ng-class="{'disabled': !homeonline, 'success': homeonline && syncinfo.tosync > 0 && syncinfo.errcount == 0, 'alert': homeonline && syncinfo.errcount >0 }" ng-href="#/customer?sync"> Sync <span ng-show="syncinfo.tosync > 0" >[{{syncinfo.tosync}}]</span></a>
            		-->
            </div>

            <!-- RIGHT TWO THIRDS -->
            <div class="large-9 medium-12 column">
                <div class="ngViewContainer">
                    <div  class="ng-view view-animate"></div>
                </div>
            </div>
        </div>

     <!--
    </div>

</div>
-->

<!--
<script src="{!URLFOR($Resource.bower_components, 'bower_components/foundation/js/vendor/jquery.js')}"></script>
<script src="{!URLFOR($Resource.bower_components, 'bower_components/foundation/js/foundation.min.js')}"></script>
-->
<script src="bower_components/foundation/js/vendor/jquery.js"></script>
<script src="bower_components/foundation/js/foundation.min.js"></script>

<script>
    $(document).foundation();
</script>
<!--
<script src="{!URLFOR($Resource.bower_components, 'bower_components/angular/angular.js')}"></script>
<script src="{!URLFOR($Resource.bower_components, 'bower_components/angular-route/angular-route.min.js')}"></script>
<script src="{!URLFOR($Resource.bower_components, 'bower_components/angular-resource/angular-resource.min.js')}"></script>
<script src="{!URLFOR($Resource.bower_components, 'bower_components/angular-animate/angular-animate.min.js')}"></script>
<script src="{!URLFOR($Resource.bower_components, 'bower_components/angular-cookies/angular-cookies.min.js')}"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<!--
<script src="{!URLFOR($Resource.digitalcpq_resources, 'digitalcpq_resources/js/module-sfdata.js')}"></script>
<script src="{!URLFOR($Resource.digitalcpq_resources, 'digitalcpq_resources/js/productsearchctrl.js')}"></script>
<script src="{!URLFOR($Resource.digitalcpq_resources, 'digitalcpq_resources/js/configure.js')}"></script>
<script src="{!URLFOR($Resource.digitalcpq_resources, 'digitalcpq_resources/js/customer.js')}"></script>
<script src="{!URLFOR($Resource.digitalcpq_resources, 'digitalcpq_resources/js/app.js')}"></script>
-->
<script src="digitalcpq_resources/js/module-sfdata.js"></script>
<script src="digitalcpq_resources/js/productsearchctrl.js"></script>
<script src="digitalcpq_resources/js/configure.js"></script>
<script src="digitalcpq_resources/js/customer.js"></script>
<script src="digitalcpq_resources/js/app.js"></script>

</body>
</html>
