


<!--

<style>

    .doneit {
        background: #008cba !important;
        color: white!important;
        margin-bottom:12px !important;
    }
    .notdoneit {
        background: #5b5b5b !important;
        color: white!important;
    }
     .nopadrow {
         padding-left: 0px;
         padding-right: 0px;
         line-height: 1.1;
     }
     .purp {
        background: #9c2aa0 !important;
     }

</style>
 
<div class="row">
    <div class="large-12 columns small-12">
-->
<dl class="accordion" ng-init="accordion= {}"  data-accordion>
	<dd>
		<div class="row" style="margin-bottom: 10px;">
		   <div class="large-3 medium-3 small-3 columns ">
		       <img ng-src="data:image/JPEG;base64,{{product.khdev__ThumbImageB64__c}}">
		   </div>
		   <div class="large-9 medium-9 small-9 columns">
		       <h5 style="margin: 5px;"><span ng-bind="product.Name"/> ({{product.khdev__Type__c}})</h5>
		       <hr style="margin: 5px;"/>
		       Configured Price <i class="fi-pound" style="font-size: 18px; margin: 2px;"></i><span ng-bind="productConfigPrice"/>
				   <button ng-click="toggleAccordion('_Desc')" class="radius expand" style="color: black; background-color: white; border: solid 2px #5b5b5b; padding-bottom: .5rem; padding-top: .5rem;">
					     show product details
					     <i class="right" style="font-size: 20px; margin-right: 10px;" ng-class="{'fi-zoom-out': accordion['_Desc'], 'fi-magnifying-glass': !accordion['_Desc'] }"></i>
				 		</button>
		   </div>
		</div>
		
		<div id="panelContent_Desc" class="content" style="padding: 0px;">
		   <div class="row"   ng-click="toggleAccordion(_Desc)"  style="border: solid 1px #c6c6c6; border-top: 0px;">
		      <div class="large-12 medium-12 small-12 columns"><span ng-bind-html="getRichDescroption()"></span></div>
		   </div>
		</div>
	</dd>

	<dd ng-repeat="fieldnm in productConfigMetaData track by fieldnm.name" style="border: solid 1px white;">
       <a  ng-click="toggleAccordion(fieldnm.name)" style="vertical-align: middle; padding: 1px;" ng-class="{'doneit': productConfig[fieldnm.name], 'notdoneit': !productConfig[fieldnm.name]}" >

				<div class="row" style="margin-left: auto;margin-right: auto;">
           <div class="columns large-4 medium-4 small-4" style="white-space: nowrap;">
            <!--    <i style="font-size: 28px; float: left;" class="fi-{{fieldnm.icon}}"></i> -->
            		<div style="display: inline-block!important;">
            			<i ng-show="productConfig[fieldnm.name]" style="font-size: 28px;" class="fi-checkbox"/>
               </div>
               <div style="display: inline-block!important; margin-left: 5px; margin-top: 8px; font-weight: bold;"  ng-bind="fieldnm.name"/>

           </div>
           <div class="columns large-5 medium-5 small-5 " >
                <div style="margin-top: 10px;" ng-hide="productConfig[fieldnm.name]">
                   <span ng-bind="fieldnm.values.length"></span> options
               </div>
               <div  ng-show="productConfig[fieldnm.name]" class="" style="font-weight: bold; margin: 1px 0 0 0;padding: .60rem;" ng-bind="productConfig[fieldnm.name]"/>

           </div>
           <div class="columns large-1 medium-1 small-1 right "  style="padding: 0px;">
               <i style="font-size: 28px; margin-right: 10px;" ng-class="{'fi-minus': (accordion[fieldnm.name]), 'fi-plus': (!accordion[fieldnm.name])}"></i>
           </div>
          </div>
          
       </a>
       <div  id="panelContent{{fieldnm.name}}" class="content" >

           <div class="row" style="margin-left: auto;margin-right: auto; border-bottom: 1px solid #5b5b5b;" ng-repeat="valnm in fieldnm.values"  ng-click="addselection(fieldnm.name, valnm.name);" ng-class="{'alert-box warning round' : isFilterSelected(fieldnm, valnm)}" >

               <div class="small-2 columns " style="padding: 5px;">
               	<i style="font-size: 28px; float: left;" class="fi-{{fieldnm.icon}}"></i>
               </div>
               <div class="small-3 columns "  style="margin-top: 10px;">
               	<span style="" ng-bind="valnm.name"/>
               </div>
               <div class="small-5 columns " style="margin-top: 8px; font-size: 90%; " >
               	<span  ng-bind="valnm.desc"/>
               </div>
               <div class="small-2 columns " style="margin-top: 12px;" >
               	<i class="fi-pound" style="font-size: 18px; margin: 2px;"></i>
               	<span style="font-size: 90%;" ng-bind="valnm.price"/>
               </div>
            </div>

        </div>
    </dd>
</dl>
<div class="row">
    <div class="large-12" style="border: solid 1px white;">
        <button class="button expand" ng-disabled="!enableaddtocart" ng-click="addtobasket()" ng-class="{'vodPurple': enableaddtocart, 'notdoneit': !enableaddtocart}">add to basket</button>
    </div>

</div>

<!-- 
    </div>
</div>
-->



