
<div class="row ">

 <div class="large-6 medium-6 small-12 columns ">
        <a href="#/packages" >
            <div id="offerWrap">
                <div class="" >
                    <h5 class="subheader homeHead" style="text-align: center;">See Top Offers</h5>
             
                    <img ng-src="{{static_resource_url}}/img/sse-images/offers.png" class="homeThumb"/>

                </div>
                <div class="">
                    <p class="subheader subDescrip">for all our latest deals in your area, Keep the lines the same length</p>
                </div>
                <a class="button expand vodPurple " href="#/packages">Go »</a>
            </div>
        </a>
    </div>
    <div class="large-6 medium-6 small-12 columns ">
        <a href="#/search" >
         <div id="offerWrap">
            <div class="">
                <h5 class="subheader homeHead" style="text-align: left;">Search our Products</h5>
                <img ng-src="{{static_resource_url}}/img/sse-images/search.png" class="homeThumb"/>
               
            </div>
            <div class="">
                <p class="subheader subDescrip" style="text-align: left;">find our great phones, accessories, and all digital products</p>
            </div>
            <a class="button expand vodPurple" href="#/search">Go »</a>
        </div>
        </a>
    </div>
<!-- 
    <div class="large-4 medium-6 small-12 columns ">
        <a href="#/guided" >
            <div id="offerWrap">
                <div class="">
                    <h5 class="subheader homeHead" style="text-align: left;">My perfect phone</h5>
                    <img src="img/sse-images/recommended.png" class="homeThumb"/>
                </div>
                <div class="">
                    <p class="subheader subDescrip" style="text-align: left;">ask me questions to guide me to my perfect phone</p>
                </div>
                <a class="button expand vodPurple" href="#/guided">Go »</a>
            </div>
        </a>
    </div>
-->   
    

</div>