<div class="row">
	<div class="column large-4 small-6 ">
		<ul class="pricing-table">
		  <li class="title">iPhone 5C</li>
		  <li class="prev"><img ng-src="{{static_resource_url}}/img/sse-images/offer-temp2.png"</li>
		  <li class="price">£99.99</li>
		  <li class="description">Unlimied Date and Text on our 4G network</li>
		  <li class="bullet-item check">12 months insurance</li>
		  <li class="bullet-item check">World Services</li>
		  <li class="bullet-item check">FREE spotify subscription</li>
		  <li class="cta-button"><a class="button expand vodPurple rArrow" href="#">Buy Now</a></li>
		</ul>
	</div>
	<div class="column large-4 small-6 ">
		<ul class="pricing-table">
		  <li class="title">Android Motorola X</li>
		  <li class="prev"><img ng-src="{{static_resource_url}}/img/sse-images/offer-temp2.png"</li>
		  <li class="price">$99.99</li>
		  <li class="description">Keep text the same amount of lines to keep consistency</li>
		  <li class="bullet-item check">gdsfgf</li>
		  <li class="bullet-item check">5GB Storage</li>
		  <li class="bullet-item check">20 Users</li>
		  <li class="cta-button"><a class="button expand vodPurple rArrow " href="#">Buy Now</a></li>
		</ul>
	</div>
		<div class="column large-4 small-6 ">
		<ul class="pricing-table">
		  <li class="title">Standard</li>
		  <li class="prev"><img ng-src="{{static_resource_url}}/img/sse-images/offer-temp2.png"</li>
		  <li class="price">$99.99</li>
		  <li class="description">An awesome description, Some more description</li>
		  <li class="bullet-item check">1 Database</li>
		  <li class="bullet-item check">5GB Storage</li>
		  <li class="bullet-item check">20 Users</li>
		  <li class="cta-button"><a class="button expand vodPurple rArrow" href="#">Buy Now</a></li>
		</ul>
	</div>
</div>